<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#">Invited</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Accepted</a>
      </li>
    </ul>
  </div>
  <ng-container *ngFor="let card of ArrayCard">
    <div class="card-body">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{card.FirstName}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{card.Suburb}}</h6>
          <p class="card-text">{{card.Description}}</p>
          <p class="card-text">{{card.Price | currency}}</p>
          <a href="#" class="card-link">Accept</a>
          <a href="#" class="card-link">Decline</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>